.carouselHolder {
    height: auto;
}

.carouselOverflow {
    overflow: scroll;
    width: 100vw;
}

.carousel {
    padding: 16px 0 0 0;
    display: inline-flex;
}


.carousel article {
    width: calc(100vw - 100px);
    overflow: hidden;
    max-width: 400px;
    height: auto;
    padding-bottom: 20px;
    margin-right: 10px;
}

.carousel article header {
    display: flex;
    height: 250px;
    width: 100%;
    background-image: url("../images/house.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.carousel article header div {
    padding: 10px 0;
    display: block;
}

.carousel article * {
    padding: 3px 0;
}

/*Dit wilde ik doen met een :not selector op address maar werkte niet helemaar*/
.prijs {
    font-weight: bold;
}

.carousel article div a {
    color: #0071b3;
    text-decoration: none;
    margin-top: 1em;
    display: block;
}

.carousel article div h3 {
    color: #0071b3;
}

.carousel article header div address {
    color: #333;
}

.carouselHolder > div {
    display: flex;
}

.carouselHolder button {
    color: #0071b3;
    border-color: #0071b3;
    background-color: #e6f2f7;

    border-width: 0;
    padding: .5rem 1rem;
    border-bottom: 2px solid #0071b3;
    border-radius: 0;
}

.carouselHolder button:disabled {
    color: #999;
    background-color: #fff;
    border-bottom: 2px solid #ccc;
}