@font-face {
    font-family: nova;
    src: url('../fonts/proximanova-regular.woff2') format('woff2');
}


*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: nova, sans-serif;
    list-style-type: none;
}

main {
    max-width: 750px;
}

section:not(.showmore) {
    margin-bottom: 1.5rem;
}


a {
    text-decoration: none;
    color: white;
}

fieldset {
    border: none;
}

select {
    border-radius: 2px;
}

h3, h2 {
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 600;
}

.selectedHouseHolder {
    position: relative;
}

.selectedHouseHolder > ul {
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 1) 200%);
}

.selectedHouseHolder > ul li {
    cursor: pointer;
    width: 25px;
    height: 25px;
    margin: 10px 15px;
}

.selectedHouseHolder > ul li svg {
    width: auto;
    fill: white;
    transition: all 500ms cubic-bezier(.23, 1, .32, 1), box-shadow 500ms cubic-bezier(.23, 1, .32, 1);
}

.selectedHouseHolder > ul li svg:hover {
    fill: #0071b3;
}

.selectedHouseHolder > ul li:nth-of-type(2) svg:hover {
    fill: red;
    transform: scale(1.5);
}

.selectedHouseHolder > ul li:nth-of-type(2) svg:hover path:nth-of-type(2) {
    fill: darkred;
}


.selectedHouseHolder > ul {
    position: absolute;
    display: flex;
    width: 100%;
    list-style-type: none;
    justify-content: flex-end;

}

.tab {
    display: flex;
    width: 100%;
    list-style-type: none;
    justify-content: flex-end;
    color: #0071b3;
}

.tab ul {
    width: 100%;
    display: flex;
}

.selectedHouseHolder .tab ul li {
    padding: .7rem;
    cursor: pointer;
}

.selectedHouseHolder .tab ul li {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #e6f2f7;
}

.selectedHouseHolder .tab ul li span {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url("../images/grond.svg");

    display: block;
    width: 1.75rem;
    height: 1.75rem;
    margin: auto auto .25rem;


}

.selectedHouseHolder .tab ul li:nth-of-type(2) span {
    background-image: url("../images/reload.svg");
    transition: all 500ms cubic-bezier(.23, 1, .32, 1), box-shadow 500ms cubic-bezier(.23, 1, .32, 1);

}

.selectedHouseHolder .tab ul li:nth-of-type(2) span:hover {
    transform: rotate(-120deg);
}

.selectedHouseHolder .tab ul li:nth-of-type(3) span {
    background-image: url("../images/playbutton.svg");
}

.selectedHouseHolder .tab ul li:nth-of-type(2) {
    border-left: 1px solid #e6f2f7;
    border-right: 1px solid #e6f2f7;
}

.heroImage {
    width: 100%;
    height: 245px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url("../images/huis.jpg");
}


.houseDetails article {
    border-bottom: 1px solid #ededed;
    margin: 0 0 10px 0;
}

.houseDetails article ul {
    display: flex;
}

.houseDetails article ul li {
    display: inherit;
    width: 33.3%;
    margin: 5px;
}

.houseDetails article ul li span {
    width: 25px;
    height: 25px;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url("../images/square.svg");

}

.houseDetails article ul li span svg path {
    fill: #999;
}

.houseDetails article ul li:nth-of-type(2) span {
    background-image: url("../images/floorplan.svg");
}

.houseDetails article ul li:nth-of-type(3) span {
    background-image: url("../images/bed.svg");
}


dl span {
    display: block;
    border-bottom: 1px solid #ededed;
}

.kenmerken dt {
    margin: 0;
    padding: .5rem 0 0;
    color: #999;
}

.kenmerken dd {
    margin: 0;
    padding: 0 0 .5rem;
}

.activeit {
    border-bottom: 1px solid #ededed;
    border-top: 1px solid #ededed;

    display: flex;
    justify-content: center;
    padding: 1rem 0;

}

.activeit div {
    margin: 10px 0;
    text-align: center;
    width: 33%;
}

/*Svg icons*/
.activeit div svg {
    height: 1.5em;
    width: 1.5em;
    vertical-align: middle;
    fill: #999;
}

.activeit div:nth-of-type(2) {
    border-left: 1px solid #ededed;
    border-right: 1px solid #ededed;

}

.indebuurt ul li a {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border-top: 1px solid #ededed;
    color: #0071b3;
}

.indebuurt ul li:last-of-type a {
    border: 0;
}

.indebuurt ul li a div {
    display: flex;
    align-items: center;
}

.indebuurt ul li a div p {
    margin: 0 10px;
}

.imageIcon {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 1.5rem;
    height: 1.5rem;
}

.bag {
    background-image: url("../images/bag.svg");
}

.enlarge {
    background-image: url("../images/enlarge.svg");
}

.mand {
    background-image: url("../images/mand.svg");
}

.bus {
    background-image: url("../images/bus.svg");
}

.got_to_arrow {
    background-image: url("../images/arrow.svg");
}


.reistijd {
    text-align: center;

}

.reistijd article {
    border-bottom: 1px solid #ededed;
    border-top: 1px solid #ededed;
    padding: 25px 0;

    margin: 15px 0;
}

.reistijd article p {
    padding: 25px 0;
}

.reistijd div a {
    color: #0071b3;
    display: flex;
    padding: .5rem 0;
    margin-top: 1rem;
}

.reistijd div a span {
    height: 1.5em;
    width: 1.5em;
    margin-top: -.25em;
    margin-right: .5em;
    background-image: url("../images/plus.svg");
}


.woningmarktCarousel div {
    display: inline-flex;
    overflow: hidden;
    padding: 3px;
}

.woningmarktCarousel article {
    width: calc(100vw - 50px);
    max-width: 350px;
    margin: 0 15px 0 0;
    min-height: 150px;
    border-radius: 4px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .12), 0 1px 4px 0 rgba(0, 0, 0, .16), 0 2px 4px -2px rgba(0, 0, 0, .24);
    height: 100%;
}

.woningmarktCarousel article header {
    border: 1px solid #ededed;
    padding: .5rem .75rem;
    display: flex;
}

.woningmarktCarousel article header h2 {
    padding: 0;
    margin: 0;
}

.woningmarktCarousel article header svg {
    height: 1.5em;
    width: 1.5em;
    vertical-align: middle;
    margin-right: .5rem;

}

.woningmarktCarousel article section {
    padding: .5rem .75rem;
    margin: 0;

}

.woningmarktCarousel article section {
    padding: 1.5rem .75rem;

}

.woningmarktCarousel article section p:nth-of-type(even) {
    font-size: 1.25rem;
    font-weight: bolder;
    padding: 5px 0;
}

.showmore {
    overflow: hidden;
    align-items: center;
    padding: 0;
}

.arrowLeft {
    width: 100%;
    display: flex;
    color: #333333;
    overflow: hidden;
}

.arrowLeft span {
    width: 20px;
}

.pill {
    font-size: .75rem;
    background-color: #60c5f8;
    color: white;
    border-radius: 12px;
    padding: .125rem .5rem;
}

.makelaars {
    border: 1px solid #e6f2f7;
    background-color: #f5fafc;
    color: #0071b3;
}

.makelaars header {
    padding: 0 1.5rem;
    background-color: #e6f2f7;
    color: #333;
    width: 100%;
    display: inline-block;
    line-height: 3.5rem;
    vertical-align: middle;
    text-overflow: ellipsis;
}

.makelaars h2 {
    margin: 0;
    font-size: 1.25rem;
    line-height: 1.75rem;
    position: relative;
}

.makelaars article {
    padding: 1.5rem;
}

.makelaars article:last-of-type {
    background-color: #fff;
    padding: .5rem 0;
}

.makelaars div:last-of-type {
    height: 2.75em;
    width: 100%;
    margin: 10px 0;
    display: flex;
    justify-content: center;
    border-radius: .125em;
    white-space: nowrap;
    transition: background .25s cubic-bezier(.23, 1, .32, 1), box-shadow .25s cubic-bezier(.23, 1, .32, 1);
    background-color: #f7a100;
    color: #fff;
    box-shadow: 0 0.0625em 0 rgba(0, 0, 0, .1), inset 0 0 0 rgba(0, 0, 0, .1);
    text-align: center;
}

.makelaars div:last-of-type a {
    align-self: center;
}


/*Zelfde style op twee elementen zo gedaan ipv een class want het blijft op deze manier in style met de rest*/
/*De enige class is de main section holder*/


.makelaars ul {
    margin: 0 1.5rem;
}

/* Kan gewoon 1 class zijn maar is nu dit */
.makelaars li, .extrahuisOpties li, .overlayNav li {
    text-decoration: none;
    color: #0071b3;
    transition: color .25s cubic-bezier(.23, 1, .32, 1);
    padding: .5em 0;
    width: auto;
    max-width: 20rem;
    display: flex;
    text-align: left;
    line-height: 1.75rem;
    box-shadow: none;
    text-overflow: ellipsis;
    overflow: hidden;
}

.makelaars li span, .extrahuisOpties li span, .overlayNav li span {
    fill: #0071b3;
    height: 1.5em;
    width: 1.5em;
    vertical-align: middle;
    margin-right: .5rem;
}

/*Dit is niet heel chill maarja kan met een class ofzo*/
.makelaars li:nth-of-type(1) span {
    background-image: url("../images/talk.svg");
}

.makelaars li:nth-of-type(2) span {
    background-image: url("../images/plus.svg");
}

.makelaars li:nth-of-type(3) span {
    background-image: url("../images/downloadFile.svg");
}

.extrahuisOpties li:nth-of-type(1) span {
    background-image: url("../images/heart.svg");
}

.extrahuisOpties li:nth-of-type(2) span {
    background-image: url("../images/share.svg");
}

.extrahuisOpties li:nth-of-type(3) span {
    background-image: url("../images/printer.svg");
}

.extrahuisOpties li:nth-of-type(4) span {
    background-image: url("../images/sign.svg");
}

.extrahuisOpties li:nth-of-type(5) span {
    background-image: url("../images/alarm.svg");
}


.overlayNav, .overlayFloorplan {
    display: none;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: -120vh;
    left: 0;
    background-color: white;
    padding: 20px;
    opacity: 0;
    transition: all 350ms cubic-bezier(.23, 1, .32, 1);

}

.overlayNav p {
    font-weight: bold;
}

.overlayNav div:first-of-type {
    position: absolute;
    right: 10px;
    top: 10px;
}

.overlayFloorplan {

}

.overlayFloorplan article {
    position: relative;
}

.overlayFloorplan > article > section a {
    width: 35px;
    height: 35px;
    background-position: center;
    background-size: cover;

}

.overlayFloorplan > article > section {
    position: absolute;
    top: 10px;
    width: 100px;
    right: 10px;
    display: flex;
    justify-content: space-evenly;

}

.overlayFloorplan > article > section a:not(.closeOverlay) {
    background-image: url("../images/enlarge.svg");

}

.closeOverlay {
    background-image: url("../images/closeing.svg");
}

.overlayFloorplan > div {
    display: flex;
    position: absolute;
    right: 10px;
    bottom: 20%;
    flex-flow: column;
    border-radius: 4px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .12), 0 1px 4px 0 rgba(0, 0, 0, .16), 0 2px 4px -2px rgba(0, 0, 0, .24);
}

.overlayFloorplan > div button {
    display: block;
    width: 2.75rem;
    margin: 0;
    padding: .5rem;
    line-height: 1.5rem;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px 4px 0 0;
    border-bottom: 0;
    overflow: hidden;

}

.overlayFloorplan > div button:nth-of-type(even) {
    border-radius: 0 0 4px 4px;
    border: 1px solid #ccc

}

.overlayFloorplan div button {
}

.overlayFloorplan header button {
    color: #0071b3;
    border-color: #0071b3;
    background-color: #e6f2f7;

    border-width: 0;
    padding: .5rem 1rem;
    border-bottom: 2px solid #0071b3;
    border-radius: 0;
}

.overlayFloorplan header button:disabled {
    color: #999;
    background-color: #fff;
    border-bottom: 2px solid #ccc;
}

.overlayFloorplan select {
    width: calc(100% - 20px);
    position: fixed;
    bottom: 20px;
    left: 10px;
}

.overlayFloorplan img {
    width: 100%;
    height: auto;
}


/*Wilde dit eerst met de Gradianet doen van de share/heart balk maar dat lukte niet Funda doet het zelf zo dus heb dat overgenomen met een after best handig*/
.summery:after {
    position: absolute;
    width: 100%;
    height: 2rem;

    left: 0;
    content: "";
    background: linear-gradient(hsla(0, 0%, 100%, 0), #fff);
}


/*JS classes*/
.clickthis {
    width: 100%;
    text-align: left;
    padding: 10px 0;
    color: #0071b3;
}

.houseDetailsHidden {
    height: 100%;
}

.noAfter:after {
    height: 0;
}

.slideInTop {
    top: 0;
    opacity: 100%;
    display: block;

}

.slideInTop li {
    opacity: 100%;
}

.hidden {
    display: none;
    height: 50px;
    margin-top: -30px;
}