/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;
  margin: 0;
  padding: 0;
  font-family: Proxima Nova,sans-serif;
}

main{
  max-width: 750px;
}

fieldset {
  border: none;
}
select {
  border-radius: 2px;
}

.heroImageHolder {
  overflow: hidden;
  height: 200px;
  position: relative;
  display: flex;
  background: linear-gradient(180deg,#e6f2f7 0,#e6f2f7 50%,#fff 90%);
}
.heroImageHouse{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  top:0;
  right: -200px;
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../images/doorzon-rechts.svg");
}
.heroImageHolder h2 {
  font-weight: 400;
  color: #53241b;
  justify-content: center;
  align-self: center;
  z-index: 2;
  padding:0 20px;
  width: 250px;
}
form{
  border: none;
  color: white;
  background-color: #f7a100;
}
.selectedVT select{
  margin: 10px 0 0 0;
  border: none;
}
.filterButtonHolder, .inputHolder{
  width: 100%;
  padding: 1rem;

}
.zoeken{
  width: 100%;
  background-color:#0071b3;
  margin: 10px 0;
  text-align: center;
  padding: 0 1.5em;
  height: 2.75em;
  line-height: 2.75em;
  border-radius: 2px;
}
.inputHolder select{
  width: 100%;
  height: 50px;
  padding: 0 10px;
}

.plaatsHolder{
  display: flex;
  width: 100%;
  border: none;
}
.plaatsHolder input{
  width: 100%;
  border: none;
  border-radius: 2px;
  padding: 0 10px;
}
.plaatsHolder select{
  border: none;
  width: 75px;
  padding: 0 10px;
  height: 50px;
}

.filterButtonHolder ul{
  list-style-type: none;
  display:flex ;
}
.filterButtonHolder {
  padding: 1rem 1rem 0 1rem;
}
.filterButtonHolder li{
  padding: .5rem 1rem;
  display: inline-block;
  height: 50px;
  line-height: 30px;
  margin: 0;
  border: none;
  background-color: none;
}

.overigInfo{
  width: 100%;
  height: auto;
  background-color: white;
  display: flex;
}
.overigItem{
  display: flex;
  width: 100%;
  color: #0071b3;
  border-radius: 2px;
  line-height: 15px;
  padding: 1.125rem 4.0625rem 1.125rem 1.125rem;
  margin-bottom: .5rem;
  border: 1px solid #e6f2f7;
  background-size: 44px 44px;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: right 1rem center;
}
.img1 {
  background-image: url("../images/links-agents.svg");
}
.img2{
  background-image: url("../images/links-map.svg");
}
.img3{
  background-image: url("../images/links-value.svg");
}

.paddingHolder{
  padding: 0 15px;
  width: 100%;
  overflow: hidden;
  margin: 1rem 0;
}
.carouselHolder{
  height: auto;
}
.carouselOverflow{
  overflow: scroll;
}
.carousel{
  padding: 16px 0 0 0;
  display: inline-flex;
}
.carouselHolder h2 {
}
.carouselItem{
  width: calc(100vw - 100px);
  overflow: hidden;
  max-width: 400px;
  height: auto;
  padding-bottom: 20px;
  margin-right: 10px;
}

.carouselItemImage{
  display: flex;
  height: 250px;
  width: 100%;
  background-image: url("../images/house.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.carouselItemDetails{
  padding: 10px 0;
  display: block;
}
.carouselItemDetails * {
  padding: 3px 0;
}
.prijs{
  font-weight: bold;
}
.makelaarLink{
  color: #0071b3;
  text-decoration: none;
  margin-top: 1em;
  display: block;
}
.carouselItemDetails h3 {
  color: #0071b3;
}
.carouselItemDetails address{
  color:#333;
}
.fundaTitels{
  padding: 10px 0;
}
.nostyle{
  color: #333;
  text-decoration: none;
}

.vragenItem{
  width: 100%;
  height: auto;
  color: #333;

  font-size: 1rem;
  line-height: 1.5rem;
}
.vragenItem p {
  margin-top: .75rem;
  margin-bottom: .375em;
}
.vragenItem span {
  color: #0071b3;
  font-weight: bold;
}

.headerImg{
  width: 100%;
  height: 245px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("https://assets.fstatic.nl/master_3303/assets/components/content-platform-banner/images/wij_helpen_je_met.jpg");
}
.koopenVerkoop{
  width: 100%;
  color: white;
  height: 245px;
  display: flex;
  justify-content: center;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("https://www.funda-consument.nl.kpnis.nl/upload/8c74c38c-a8d7-402c-b15b-c0c49a941796_doorstromer%401x.jpg");
}
.centerHolder{
  position: relative;
  padding: 0 1.5rem;
  text-align: center;
  align-self: center;
  height: 100px;
}
.centerHolder a {
  text-decoration: none;
  color:white;
  padding: 5px;
}
.praatButton{
  display: inline-flex;
  padding: .5rem 1rem;
  border-radius: 2px;
  border: 2px solid white;

}


/*https://www.funda-consument.nl.kpnis.nl/upload/8c74c38c-a8d7-402c-b15b-c0c49a941796_doorstromer%401x.jpg*/



.active{
  background-color: #f8c463;
  border-radius: 2px;
  color: #53241b;
}

